body {
    background-color: #f2fefe;
}
.container{
}

.title{
    text-align: center;
    padding-top: 30px;
    font-family: "chunkfiveregular", serif;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px #484848;
}

.lets-get {
    color: #ffffff;
}
/* Text style for "LOST" */
.lost {
    color: #01a2a6;
}
.presentation{
    width: 100%;
    min-height: 170px;
    background: #9bddd8 linear-gradient(180deg, #9bddd8, #B3FFFA);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

/* Style for "Shape 6" */
.navbar-perso {
    width: 1440px;
    height: 168px;
    background-color: #2f2933;
    opacity: 0.54;
}

/* Style for "YokNgalam" */
.yokngalam {
    width: 154px;
    height: 25px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
}
/* Text style for "Yok" */
.yok {
    font-weight: 400;
}
/* Text style for "Ngalam" */
.ngalam {
    font-weight: 700;
}

.btn-perso{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:15px;
    width: 222px;
    height: 50px;
    background: linear-gradient( #ffffa6, #f5f5a8);
    color: #10273d;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn-perso:hover{
    background: linear-gradient( #f5f5a0, #ffffb0);
}
.btn-perso-text{
    padding-top:5px;
    text-align: center;
    color: #01a2a6;
    text-shadow: 0 1px 0 rgba( 255, 255, 255, 0.2);

}

.btn-retour{
    position:absolute;
    top:100px;
    left:20px;
}

.album{
    width:340px;
    height:200px;
    border-radius:7px;
    background-color:black;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
    padding-right:20px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

.imgAlbum{
    position:absolute;
    left:0;
    top: 0;
    opacity: 0.6;
    border-radius:7px;
    display:block;
    transition: all 0.5s;
}

.albumTitle{
    position: relative;
    top:37%;
    text-align: center;
    color:white;
    font-weight: 800;
    font-size:30px;
    z-index: 1;
    text-transform: uppercase;
}

.imgAlbum:hover{
    opacity:0.9;
}
.albumTitle:hover ~ .imgAlbum {
    opacity:0.9;
}

.albumTitlePage{
    color: #01a2a6;
    text-align: center;
    padding-top: 30px;
    font-family: "chunkfiveregular", serif;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px #484848;
}

.picturePicture{
    width:100%;
    height:100%;
    object-fit: cover;

}

.pictures{
    margin-top:15px;
}

@media only screen and (max-width:1260px) {
    .title{
        padding-top:20px;
        margin-right:10px;
        padding-left:230px;
        font-size:15px;
        text-align:right;

    }
    .presentation {
        min-height: 0px;
        height: 70px;
    }
    .btn-retour{
        top:0;
        left:10px;
    }
}
